.productCard {
    margin-top:25px;
    margin-left: 50px;
    width: 250px;
}

.prodCardFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: grey;
    padding-bottom: 20px;
    margin-top: 10px;
}

.text {
    text-align: left;
    padding: 15px 0 5px 5px;
}

.boxShadow {
    box-shadow: 5px 10px 8px #888888;
}

.productCard:hover {
    background-color: #DCDCDC;
    color: blue;
}

.sellProdBtn {
    margin-top: 15px;
    color: black;
    align-items: center;
}

.btn-nice {
    border: 1px solid black;
    box-shadow: 2px 4px 7px #888888;
    color: black;
}

.btn-nice2 {
    border: 1px solid black;
    box-shadow: 2px 4px 7px #888888;
    color: black;
    height: 32px;
}

.form {
    align-items: center;
}

#location {
    margin-top: 15px;
    width: 20%;
    align-self: center;
}


